# modo
modo=oficial

# límite de autos
max_autos_este=50
max_autos_oeste=50

# ambulancias (%)
porcentaje_ambulancias_este=10
porcentaje_ambulancias_oeste=5

# puente
longitudpuente=20

# llegadas
media_llegadas_este=2
media_llegadas_oeste=2

# velocidades promedio
velocidad_promedio_este=60
velocidad_promedio_oeste=55

# rangos
vel_min_este=40
vel_max_este=80

vel_min_oeste=35
vel_max_oeste=75

# policía (cuotas)
k_este=3
k_oeste=5
segundos_espera=2

# semáforo independiente
tiempo_semaforo_este=10
tiempo_semaforo_oeste=10