# modo
modo=policia

# límite de autos
max_autos_este=25
max_autos_oeste=25

# ambulancias (%)
porcentaje_ambulancias_este=30
porcentaje_ambulancias_oeste=30

# puente
longitudpuente=100

# llegadas
media_llegadas_este=2
media_llegadas_oeste=2

# velocidades promedio
velocidad_promedio_este=45
velocidad_promedio_oeste=55

# rangos
vel_min_este=30
vel_max_este=65

vel_min_oeste=35
vel_max_oeste=75

# policía (cuotas)
k_este=4
k_oeste=3
segundos_espera=2

# semáforo independiente
tiempo_semaforo_este=5
tiempo_semaforo_oeste=5